/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--main-background-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decoration-element {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: clamp(10px, calc(10 / 375 * 100vw), 20px);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--theme-switch-color);
  border-right: 1px solid var(--theme-switch-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--theme-switch-color);
  border-left: 1px solid var(--theme-switch-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  line-height: 18px;
  border: none;
  color: var(--theme-switch-color);
  cursor: pointer;
  padding: 4px 13px;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--theme-switch-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--theme-switch-color);
}

/* Преподователь сказал, что outline задается только со всех сторон, а в макете только снизу при фокусе, поэтому border-bottom */

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  font-family: IBM Plex Mono, monospace;
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-title-theme {
  justify-self: end;
  align-self: center;
  width: clamp(355px, calc(355 / 375 * 100vw), 364px);
  color: var(--section-title-text-color);
  background-color: var(--accent-color);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.main {
  padding-inline-start: clamp(10px, calc(10 / 375 * 100vw), 20px);
  padding-inline-end: clamp(10px, calc(10 / 375 * 100vw), 20px);
}

.main-section-why {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  margin-block-start: 40px;
  gap: 20px;
}

.main-section-title {
  color: var(--theme-switch-color);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.main-section-list-item-title {
  background-color: var(--accent-color);
  color: var(--section-title-text-color);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  margin-block-end: 10px;
}

.main-section-list-item-content {
  color: var(--section-content-text-color);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.main-section-list-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.main-section-what {
  display: grid;
  row-gap: 20px;
  margin-block-start: 50px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--section-content-text-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--section-content-text-color);
}

.main-section-how {
  display: grid;
  row-gap: 20px;
  margin-block-start: 50px;
}

.main-section-how .main-section-list-item-title {
  font-weight: 400;
}

.main-section-how .one-more-main-section-list-item-title {
  margin-block-end: 20px;
  font-weight: 700;
}

.main-section-pictures {
  display: grid;
  gap: 10px;
  margin-block-start: 50px;
}

.main-section-pictures .main-section-list-item-title {
  margin-block-end: 0;
}

.main-section-pictures-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-block-start: 40px;
  position: relative;
  padding: clamp(10px, calc(10 / 375 * 100vw), 20px);
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  font-family: IBM Plex Mono, monospace;
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-title-theme {
    width: clamp(364px, calc(364 / 768 * 100vw), 491px);
  }

  .main-section-why {
    grid-template-columns: 1fr 2fr;
    margin-block-start: 60px;
    row-gap: 0;
  }

  .main-section-what {
    margin-block-start: 80px;
  }

  .main-section-what .main-section-title {
    max-width: 236px;
  }

  .main-section-how {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-block-start: 80px;
  }

  .main-section-pictures {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    margin-block-start: 80px;
  }

  .main-section-pictures .main-section-list-item-title {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    margin-block-end: 0;
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }

  .ice-cream {
    grid-row: 2 / span 2;
    grid-column: 3 / 4;
  }

  .tape {
    grid-row: 3 / span 2;
    grid-column: 1 / 2;
  }

  .street {
    grid-row: 4 / 5;
    grid-column: 2 / span 2;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    padding-inline-start: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header-title-theme {
    min-width: 491px;
  }

  .main-section-why {
    column-gap: 10px;
  }

  .main-section-what .main-section-title {
    max-width: 315px;
  }

  .main-section-what .main-section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .main-section-how {
    column-gap: 10px;
  }
}
